<%= form_with(model: ad_movie, local: true) do |form| %>
  <% if ad_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad_movie.errors.count, "error") %> prohibited this ad_movie from being saved:</h2>

      <ul>
      <% ad_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ad_movie_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :ad_movie_url %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size, id: :ad_movie_size %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
